<app-card class="form-busca" variant="secondary">
    <form>
        <h2>Passagens</h2>
        <div class="flex-container">
            <mat-button-toggle-group aria-label="Tipo de passagem">
                <mat-button-toggle>
                    <mat-icon>check</mat-icon>
                    IDA E VOLTA
                </mat-button-toggle>
                <mat-button-toggle>SOMENTE IDA</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-chip-listbox (click) = "openDialog()" aria-label="Seleção de Passagens">   <!-- Evento click para quando clicar em qualquer um dos 2 chips-->
                <mat-chip-option selected>1 adulto</mat-chip-option>
                <mat-chip-option>Econômica</mat-chip-option>
            </mat-chip-listbox>
        </div>

        <div class="flex-container">

            <mat-form-field class="input-container" appearance="outline">
                <mat-label>Origem</mat-label>
                <!-- matPrefix serve para colocar icones no inicio de um input (angular material)-->
                <mat-icon matPrefix>flight_takeoff</mat-icon>
                <input matInput placeholder="Origem">
                <!-- matSuffix serve para colocar icones no final de um input (angular material)-->
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <button mat-icon-button>
                <mat-icon>sync_alt</mat-icon>
            </button>

            <mat-form-field class="input-container" appearance="outline">
                <mat-label>Destino</mat-label>
                <!-- matPrefix serve para colocar icones no inicio de um input (angular material)-->
                <mat-icon matPrefix>flight_land</mat-icon>
                <input matInput placeholder="Origem">
                <!-- matSuffix serve para colocar icones no final de um input (angular material)-->
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <mat-form-field class="input-container" appearance="outline">
                <mat-label>Data de ida</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            

              <mat-form-field class="input-container" appearance="outline">
                <mat-label>Data da volta</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            
              <section>
                <div class="example-button-row">
                  <button mat-raised-button color="primary">Buscar</button>
                </div>
              </section>
            
            
            
            


              







        </div>

    </form>
</app-card>