<section class="modal">

    <h1 mat-dialog-title>Viajante</h1>
    <div mat-dialog-content>

        <div class="selecao-idade">
            <ul>
                <li><strong>Adultos</strong></li>
                <li>(Acima de 12 anos)</li>
                <li>
                    <button class="decremento">
                        <img src="assets/icones/do_not_disturb_on.png" alt="operador de subtracao">
                    </button>
                    <span>1</span>
                    <button class="incremento">
                        <img src="assets/icones/add_circle.png" alt="operador de adção">
                    </button>

                </li>
            </ul>

            <ul>
                <li><strong>Criancas</strong></li>
                <li>(Entre 2 e 11 anos)</li>
                <li>
                    <button class="decremento">
                        <img src="assets/icones/do_not_disturb_on.png" alt="operador de subtracao">
                    </button>
                    <span>1</span>
                    <button class="incremento">
                        <img src="assets/icones/add_circle.png" alt="operador de adção">
                    </button>

                </li>
            </ul>

            <ul>
                <li><strong>Bebes</strong></li>
                <li>(Até 2 anos)</li>
                <li>
                    <button class="decremento">
                        <img src="assets/icones/do_not_disturb_on.png" alt="operador de subtracao">
                    </button>
                    <span>1</span>
                    <button class="incremento">
                        <img src="assets/icones/add_circle.png" alt="operador de adção">
                    </button>

                </li>
            </ul>
        </div>



    </div>

    <h2 mat-dialog-title>Categoria</h2>
    <div class="selecao-categoria">
        <div mat-dialog-content>
            <mat-chip-listbox aria-label="Seleção de Categoria"> <!-- Evento click para quando clicar em 
qualquer um dos 2 chips-->
                <mat-chip-option>Executiva</mat-chip-option>
                <mat-chip-option>Econômica</mat-chip-option>
            </mat-chip-listbox>
        </div>
    </div>



    <section>
        <div class="example-button-row">
            <button mat-raised-button color="primary">Buscar</button>
        </div>
    </section>













    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
    </div>


</section>