.depoimento {
    max-width: 320px;
    background-color: #FEF7FF;
    border-radius: 12px;
    border: none;
    margin-bottom: 2%;
    
    


}

.depoimento img {

    max-width: 56px;
    max-height: 56px;
    margin-top: 16px;


}


.depoimento ul {
    list-style: none;
    padding: 0;
}


.depoimento ul li {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

.depoimento .cont {
    display: flex;
    align-items: start;
    gap: 16px;
    
  }