<footer class="app-footer">

    <app-container>
        <div class="inner">

            <ul>
                <li>
                    <img src="assets/imagens/logo-com-tagline.png">
                </li>
                <li>
                    Horário de atendimento: 08h ~20h (Segunda a Sexta)
                </li>

                <li>
                    Desenvolvido por Ronan. Curso Angular Alura 2023
                </li>
            </ul>

            <ul class="socials">

                <li>Acesse nossas redes: </li>

                <button mat-icon-button>
                    <img src="assets/icones/whatsapp.png" alt="Ícone do whatsapp">
                </button>
                <button mat-icon-button>
                    <img src="assets/icones/instagram.png" alt="Ícone do instagram">
                </button>
                <button mat-icon-button>
                    <img src="assets/icones/twitter.png" alt="Ícone do twitter">
                </button>
                <li>

                </li>
            </ul>



        </div>
    </app-container>

</footer>